# .NET
**/bin/
**/obj/
**/out/
*.user
*.suo
*.db
*.db-shm
*.db-wal
.vs/

# Node / Angular
**/node_modules/
**/dist/
**/.angular/cache/

# Logs / coverage
**/coverage/
*.log

# IDE / OS
.idea/
Thumbs.db
.DS_Store
